<div class="social-ui">
  <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" target="_blank" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://github.com/{{ .Site.Params.github }}" target="_blank" class="btn btn-social btn-github"><i class="fa fa-github"></i></a>
  <a href="https://github.com/{{ .Site.Params.github_blog }}" target="_blank" class="btn btn-social btn-github"><i class="fa fa-github"></i></a>
  <a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank" class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://plus.google.com/{{ .Site.Params.gplus }}" target="_blank" class="btn btn-social btn-googleplus"><i class="fa fa-google-plus"></i></a>
  <!-- <a href="http://www.pluralsight.com/author/{{ .Site.Params.pluralsight }}" target="_blank" class="btn btn-social btn-pluralsight"><i class="fa fa-graduation-cap"></i></a> -->
  <a href="{{ .RSSlink }}"  type="application/rss+xml" target="_blank" class="btn btn-social btn-rss"><i class="fa fa-rss"></i></a>
</div>
